<%#Title/Cover %>
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>iHomework</h1>
				<h2>Online Homework Planner for Today's Generation</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<%#Section Two %>
  <div class="container w">
		<div class="row centered">
			<br><br>
			  <i class="fa fa-list" aria-hidden="true"></i>
				<h4>iPLAN</h4>
				<p>Easily add projects, homework, and assignments for each class.</p>

				<i class="fa fa-laptop"></i>
				<h4>iWORK</h4>
				<p>Mark assignments as important, and never miss another due date!</p>

				<i class="fa fa-trophy"></i>
				<h4>iSUCCEED</h4>
				<p>Get your school work done and bask in your success!</p>
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->


<%# Testimonials Section%>
<div id="testimonials" class="container-fluid text-center">
  <h2>TESTIMONIALS</h2>
  <h4>See what Students have to say about iHomework</h4>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img class="img-circle" src="/images/girlphoto1.jpg" alt="girl1">
          <div class="caption">
            <h4>Theresa Gray</h4>
            <p>"As long as I have my phone, I have my iHomework."</p>
          </div>
        </div>
      </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="img-circle" src="/images/girlphoto2.jpg" alt="girl2">
        <div class="caption">
          <h4>Jennifer Moore</h4>
          <p>"I never had to worry about leaving my planner at home, with iHomework, my planner was always in my pocket!"</p>
        </div>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img-circle" src="/images/boyphoto.jpg" alt="boy1">
      <div class="caption">
        <h4>Mark Angelo</h4>
        <p>"iHomework made it simple and easy to stay organized, which helped me a lot"</p>
      </div>
    </div>
  </div>

  </div>
</div>



<%# <!-- Second Container -->
<div class="container-fluid bg-2 text-center">
<h3 class="margin">Get Started today</h3>
<p> Join the best online planner today and get on the path to success </p>
<a href="#" class="btn btn-default btn-lg">
<span class="glyphicon glyphicon-search"></span> SIGN UP
</a>
</div>%>
