
<div class="jumbotron">
  <div class="container titletext">
    <h1>iHomework</h1>
    <h2>Online Homework Planner for today's Generation</h2>
  </div>
</div>


<!--ABOUT US Section -->
<div id="services" class="container-fluid text-center">
  <h2>ABOUT US</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-list-alt"></span>
      <h4>iPLAN</h4>
      <p>Easily add projects, homework, and assignments for each class.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Incommoda
      autem et commoda-ita enim estmata et dustmata appello-communia esse voluerunt,
      paria noluerunt. Quamquam id quidem licebit iis existimare, qui legerint.
      Habent enim et bene longam et satis litigiosam disputationem. Multoque hoc melius nos
      veriusque quam Stoici. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni
      disputatione id fieri oportere. Nobis aliter videtur, recte secusne, postea; Numquam facies.
      Duo Reges: constructio interrete.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-check"></span>
      <h4>iACHIEVE</h4>
      <p>Mark assignments as important, and never miss another due date!
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Incommoda
        autem et commoda-ita enim estmata et dustmata appello-communia esse voluerunt,
        paria noluerunt. Quamquam id quidem licebit iis existimare, qui legerint.
        Habent enim et bene longam et satis litigiosam disputationem. Multoque hoc melius nos
        veriusque quam Stoici. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni
        disputatione id fieri oportere. Nobis aliter videtur, recte secusne, postea; Numquam facies.
        Duo Reges: constructio interrete.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-education"></span>
      <h4>iSUCCEED</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Incommoda
      autem et commoda-ita enim estmata et dustmata appello-communia esse voluerunt,
      paria noluerunt. Quamquam id quidem licebit iis existimare, qui legerint.
      Habent enim et bene longam et satis litigiosam disputationem. Multoque hoc melius nos
      veriusque quam Stoici. Hoc positum in Phaedro a Platone probavit Epicurus sensitque in omni
      disputatione id fieri oportere. Nobis aliter videtur, recte secusne, postea; Numquam facies.
      Duo Reges: constructio interrete.</p>

      <%# <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">
        <h3 class="margin">Get Started today</h3>
        <p> Join the best online planner today and get on the path to success </p>
        <a href="#" class="btn btn-default btn-lg">
          <span class="glyphicon glyphicon-search"></span> SIGN UP
        </a>
      </div>%>
    </div>
  </div>
</div>
