<%#Title/Cover Section %>
<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
				<h1>iHomework</h1>
				<h2>Online Homework Planner for Today's Generation</h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->

<%# Middle Section %>
	<div class="container desc">
		<div class="row">
			<br><br>
			<div class="col-lg-6 centered">
				<img src="theme2/assets/img/p02.png" alt="">
			</div><!-- col-lg-6 -->
			<div class="col-lg-6">
				<div class="row centered">
					<br><br>
						<i class="fa fa-list" aria-hidden="true"></i>
						<h4>iPLAN</h4>
						<p>Easily add projects, homework, and assignments for each class.</p>

						<i class="fa fa-laptop"></i>
						<h4>iWORK</h4>
						<p>Mark assignments as important, and never miss another due date!</p>

						<i class="fa fa-trophy"></i>
						<h4>iSUCCEED</h4>
						<p>Get your school work done and bask in your success!</p>
				</div><!-- row -->
			</div>
		</div><!-- row -->
	</div>

<%# Testimonials Section %>
	<div id="blue">
		<div class="container">
			<div class="row centered">
				<h2>TESTIMONIALS</h2>
				<h4>See what Students have to say about iHomework</h4>

					<div class="container w">
						<div class="row centered">
							<br><br>

							<div class="col-lg-4">
								<img class="img-circle" src="theme2/assets/img/pic2.jpg" width="110" height="110" alt="">
								<h4>David Wright</h4>
								<p>"As long as I have my phone, I have my iHomework."</p>
							</div><!-- col-lg-4 -->

							<div class="col-lg-4">
								<img class="img-circle" src="theme2/assets/img/pic3.jpg" width="110" height="110" alt="">
								<h4>Mark Milestone</h4>
								<p>"I never had to worry about leaving my planner at home, with iHomework, my planner was always in my pocket!"</p>
							</div><!-- col-lg-4 -->

							<div class="col-lg-4">
								<img class="img-circle" src="theme2/assets/img/pic4.jpg" width="110" height="110" alt="">
								<h4>Tania Tissen</h4>
								<p>"iHomework made it simple and easy to stay on top of my assignments, which helped me a lot with due dates."</p>
							</div><!-- col-lg-4 -->

						</div><!-- row -->
						<br>
						<br>
					</div><!-- container -->

				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!--  bluewrap -->
