body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*INDEX.EJS*/

/*Nav Bar*/
.navbar-default{
  background-color: #1FAD9F;
}

.navbar-default .navbar-brand {
    color: #ECEFF4;
}

  .navbar-default .navbar-nav>li>a {
      color: #ECEFF4;
}

.top{
  font-size: 10px;
}
/*--------------------------------------*/

.jumbotron {
  background-image: url(../images/coverphoto.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  text-align: center;
  /*#FB9935*/
  color:#FF4545;
  text-shadow: 2px 2px #ECEFF4 ;
}

.titletext {
  margin-top: 55px;
}
/*-----------------------------------------*/

/*Second Container */
.mid {
font-size: xx-large;
}

#about {
  background-color:
}

#testimonials {
  margin-top: 10px;
}

/*-----------------------------------------*/
.footer {
  background-color: #1FAD9F;
  color: #ECEFF4;
  padding: 5px;
  width: 100%;
  margin-top: 5%;
}


/*SIGN UP.EJS*/

#signupbackground{
  background-image: url(../images/sign-up-photo.jpg);
}


/*-----------------------------------*/

/*SIGN IN EJS*/
