

<br>
<br>
<br>
<br>

<ul>
  <% ClassInfo.assignment.forEach((assignment)=>{ %>

    <li> Date Assigned: <%= prettyDate(assignment.dateAssigned) %></li>
    <li> Date Due: <%= prettyDate(assignment.dateDue) %></li>
    <li> Assignment Type: <%= assignment.assignmentType %></li>
    <li> Assignment description: <%= assignment.description %></li>
  <% }); %>
</ul>
