<div id="form-info">
  <div class="container">

    <div class="row" style="margin:60px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
          <form class="" action="/newclass" method="post">
          <fieldset>
            <h2> Add a class </h2>

              <div class="form-group">
                <label for="class-name-input"> Class Name: </label>
                <input id="class-name-input" class="form-control input-lg" type="text" name="className"> <%# req.body.className %>
              </div>

              <div class="form-group">
                <label for="subject-input"> Subject: </label>
                  <select id="subject-input" class="form-control input-lg" name="subjectName"> <%# req.body.subjectName %>
                    <option value="Math">Math</option>
                    <option value="Science">Science</option>
                    <option value="Language Arts">Language Arts</option>
                    <option value="Social Studies">Social Studies</option>
                    <option value="Reading">Reading</option>
                    <option value="Elective">Elective</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="grade-input"> Grade Level: </label>
                  <select id="grade-input"class="form-control input-lg" name="gradeLevel">
                    <option value="6">6th</option>
                    <option value="7">7th</option>
                    <option value="8">8th</option>
                  </select>
              </div>

              <div class="form-group">
                <label for="teacher-name-input"> Teacher Name: </label>
                <input id="teacher-name-input" class="form-control input-lg"type="text" name="teacherName"> <%# req.body.teacherName %>
              </div>

              <button type="submit" class="btn btn-lg btn-success btn-block" name="button"> Add Class</button>
              <a href="/profile">Back to myClasses </a>
            </fieldset>
          </form>
        </div>

      </div><!-- row -->

  </div> <!-- container -->
</div> <!-- form info -->
