<div id="form-info">
  <div class="container">

    <div class="row" style="margin:60px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

          <form action="/classes/<%= ClassInfo._id %>/newassignment" method="post">
            <fieldset>
            <h2>Create Assignment for <%= ClassInfo.className %> </h2>

            <div class="form-group">
             <label for="assignment-name-input">Assignment Title: </label>
              <input id="assignment-name-input" class="form-control input-lg" type="text" name="assignmentName">
            </div>

            <div class="form-group">
              <label for="date-assigned-input">Date Assigned:</label>
              <input id="date-assigned-input" class="form-control input-lg" type="date" name="dateAssigned">
            </div>

            <div class="form-group">
              <label for="date-due-input">Date Due:</label>
              <input id="date-due-input" class="form-control input-lg" type="date" name="dateDue">
            </div>

            <div class="form-group">
              <label for="assignment-type-input"> Assignment Type:</label>
              <select id="assignment-type-input" class="form-control input-lg" name="assignmentType">
                <option value="Homework">Homework</option>
                <option value="Project">Project</option>
                <option value="Quiz">Quiz</option>
                <option value="Test">Test</option>
                <option value="Essay">Essay</option>
                <option value="Other">Other</option>
              </select>
            </div>

            <div class="form-group">
              <label for="assignment-description-input"> Description:</label>
              <textarea id="assignment-description-input"class="form-control input-lg" type="text" name="assignmentDescription"></textarea>
            </div>

            <div class="checkbox">
               <label for="important-assignment-input"> Mark this Assignment as important</label>
               <input type="checkbox" id="important-assignment-input" onclick="changeColor('red'); name="assignmentImportance">
             </div>

              <button type="submit" class="btn btn-lg btn-success btn-block" name="button"> Create Assignment </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
