
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h2>Welcome ___________,</h2>
      <br>

      <div class="col-md-4">
          <!--Side Bar Well -->
          <div class="well">
              <h4>My Stuff</h4>
              <div class="row">
                      <ul class="list-unstyled">
                          <li><a href="#">Calendar</a>
                          </li>
                          <li><a href="#">Classmates</a>
                          </li>
                          <li><a href="#">Category</a>
                          </li>
                      </ul>
              </div> <!-- /.row -->
          </div> <!-- div class "well" -->
      </div>


    <div class="col-md-8">
                  <!-- CLASSES TABLE -->
                  <div class="pricing-option">
                      <div class="pricing-top">
                          <span class="pricing-edition">myClasses</span>
                          <span class="price">
                              <%# <sup>$</sup>
                              <span class="price-amount">19</span>
                              <small>/mo</small>%>
                          </span>
                      </div>

                      <ul>
                        <% classList.forEach((oneClass) => { %>

                          <li> <%= oneClass.className %> </li>
                        <%  }); %>

                      </ul>

                      <a href="/newclass" class="pricing-signup">Add a Class</a>
                  </div><!-- /pricing-option -->
                  <!-- END PRICING TABLE -->
              <a href="/classinfo"> </a>    

        </div>

   </div><!-- row centered -->
 </div><!-- container -->
</div><!-- DG -->

<%# <i class="fa fa-plus" aria-hidden="true"></i>%>
