<div id="signin" class="container">
  <h2 class="text-center">Sign In</h2>

  <div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-primary">Sign In with Facebook</button>

        <button type="button" class="btn btn-danger">Sign in with Google</button>
    </div>
  </div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">

          <form  class="form-horizontal" action="/login" method="post">
          <label for="username-input">Username</label>
          <input id="username-input" class="form-control" placeholder="John123" type="text" name="loginUsername">
        </div>

        <div class="col-sm-6 form-group">
          <label for=password-input"">Password</label>
          <input id="password-input" class="form-control" placeholder="Password" type="password" name="loginPassword">

          <button class="btn pull-right" type="submit">Sign In</button>
          </form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 form-group">
          <p>Not a member?
            <a href="/sign-up">Create an account!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
